<div class="navbar navbar-default navbar-fixed-top">
 <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">More</a></li>
        <li><a href="#">Options</a></li>
      </ul>
      <div class="navbar-right">
    	<p class="navbar-text">I'm navbar-fixed-top</p>
  	  </div>
    </div>
</div>

<!-- If using this fixed navbar, add padding to the body too -->
<style>
  body {
    padding-top: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }
</style>






