<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} &middot; Reproducible Research.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ site.baseurl }}/www/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/www/highlight.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700'
      rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="container">

			<!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default</a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../lectures/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- The title and stuff is here -->
      <div class="masthead">
        <h3 class="muted"><a href="/">Reproducible Research Course</a> <small>by Eric C. Anderson for (NOAA/SWFSC)</small></h3>
        <hr>
      </div>


      <div class="row">
        <div class="col-sm-3" id="nav">
        <div class="well">
          How's this site built? See all sources at the course <a href="http://github.com/eriqande/rep-res-course">repository</a> on GitHub.
        <p><hr></p>
        <p><a class="btn btn-primary" href="https://github.com/eriqande/rep-res-course/blob/master/{{page.path}}">Page source</a></p>
        </div>

        <h4>Page Contents</h4>
          <ul class="list-unstyled" id="toc"></ul>

          <hr>
          <p><a href="{{ site.baseurl }}/contribute.html">How to contribute</a></p>

          <p><a class="btn btn-primary" href="https://github.com/eriqande/rep-res-course/edit/master/{{page.path}}">Edit this page</a></p>
        </div>

        <div id="content" class="col-sm-8 pull-right">
          {{ content }}
        </div>
      </div>

      <div class="footer">
        <hr>
        <p>
          <small>
            Authored by Eric C. Anderson working as a Federal employee.  Content on this website is a government work in the public domain in the U.S. and under the CCC 1.0 internationally. Templates and plugins to build the site are modified from Hadley Wickham's <a href="https://github.com/hadley/adv-r/">Advanced R</a> website. Powered by <a href="http://jekyllrb.com/">jekyll</a>,
          <a href="http://yihui.name/knitr/">knitr</a>, and
          <a href="http://johnmacfarlane.net/pandoc/">pandoc</a>. Source
          available on <a href="https://github.com/eriqande/rep-res-course/">github</a>.
          </small>
        </p>
      </div>

    </div> <!-- /container -->

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="{{ site.baseurl }}/www/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/www/toc.js"></script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  </body>
</html>
