<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include top-navbar.html %}
    <div class="container">
      {% include masthead.html %}
      <div class="row">
        <div class="col-sm-3" id="nav">
        <div class="well">
          How's this site built? See all sources at the course <a href="http://github.com/eriqande/rep-res-course">repository</a> on GitHub.
        <p><hr></p>
        <p><a class="btn btn-primary" href="https://github.com/eriqande/rep-res-course/blob/master/{{page.path}}">View on GitHub</a></p>
        </div>

        <h4>Page Contents</h4>
          <ul class="list-unstyled" id="toc"></ul>

          <hr>
          <p><a href="{{ site.baseurl }}/contribute.html">How to contribute</a></p>

          <p><a class="btn btn-primary" href="https://github.com/eriqande/rep-res-course/edit/master/{{page.path}}">Edit this page</a></p>
        </div>

        <div id="content" class="col-sm-8 pull-right">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}

    </div> <!-- /container -->

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="{{ site.baseurl }}/www/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/www/toc.js"></script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  </body>
</html>

